{% extends 'myapp/base.html'%}

{% block title %} ประวัติการสมัครงาน {% endblock title %}

{% block content %}
<div class="container mt-3">
  <h2>ประวัติการสมัครงาน</h2>
  <!--copy from bootstrap-->
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">ชื่อ-สกุล</th>
        <th scope="col">เบอร์โทร</th>
        <th scope="col">ตำแหน่ง</th>
      </tr>
    </thead>
    <tbody>
    <!--for loop จาก views job ที่สร้างไว้ job มันเป็น list-->
    {% for j in job %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <!--จะกลายเป็น link ที่ ref ไปหา url detail-job.html ของ id นั้น-->
        <td><a href="{% url 'detail-job' j.id %}">{{j.fullname}}</a></td>
        <td>{{j.tel}}</td>
        <td>{{j.position}}</td>
      </tr>
      {% endfor %}
    </tbody>    
  </table>
</div>
{% endblock content%}